PRIMARY_DB_USER=authprovider
PRIMARY_DB_PASSWORD=authprovider
PRIMARY_DB_NAME=authprovider

APP_A_DB_USER=appa
APP_A_DB_PASSWORD=appa
APP_A_DB_NAME=appa

APP_B_DB_USER=appb
APP_B_DB_PASSWORD=appb
APP_B_DB_NAME=appb

BROKER_USER=guest
BROKER_PASSWORD=guest
